ul{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    border: 1px solid #555;
    height: 100%;
    position: fixed;
    overflow: auto;
}
li a{
    display: block;
    text-align: center;
    border-bottom: 1px solid #555;
    color:#000;
    width: 200px;
    padding: 8px 16px;
    background-color:#f1f1f1;
    text-decoration: none;
};
li :last-child{
    border-bottom:none;
}
li a.active{
    background-color: #04AA6D;
    color:white;
}
li a:hover:not(.active){
    background-color: green;
    color:white;
}
li a:hover{
    background-color: green;
}
.dropdownContainer{

}